p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.card {
  width: 60%;
  margin-left: 20%;
  border: 3px solid lightblue;
  padding: 1em;
}
